!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="#">
    <title>권한 변경</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
    <script src="/js/logout.js"></script>
</head>
<body class="sb-nav-fixed">
<!-- 여기에 header 부분을 포함시켜야 합니다. 예시로 th:replace로 추가했습니다. -->
<div th:replace="~{header :: header}"></div>
<br>
<br>
<div class="container mt-5">
    <div class="col-12 col-lg-8 offset-lg-2">
    <h2 class="mb-4">사용자 관리 - ADMIN</h2><hr>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">이메일</th>
                <th class="text-center">이름</th>
                <th class="text-center">권한 설정</th>
                <th class="text-center">상세 조회</th>
                <th class="text-center">회원 삭제</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${userList}">
            <td class="text-center" th:text="${user.username}"></td>
            <td class="text-center" th:text="${user.nickname}"></td>
            <td>
                <form class="authForm d-flex align-items-center">
                    <input type="hidden" class="userId" th:value="${user.id}"/>
                    <div class="col p-lg-1">
                        <select name="authentication" class="form-select">
                            <option th:value="${user.role}" th:text="${user.role}">ROLE</option>
                            <option th:if="${user.role != 'GUEST'}" value="GUEST">GUEST</option>
                            <option th:if="${user.role != 'SEMIUSER'}" value="SEMIUSER">SEMIUSER</option>
                            <option th:if="${user.role != 'USER'}" value="USER">USER</option>
                            <option th:if="${user.role != 'MANAGER'}" value="MANAGER">MANAGER</option>
                            <option th:if="${user.role != 'ADMIN'}" value="ADMIN">ADMIN</option>
                        </select>
                    </div>
                    <div class="col-auto pl-2">
                        <button type="submit" class="btn btn-secondary mt-2">변경</button>
                    </div>

                </form>
            </td>
            <td>
                <div class="text-center">
                    <a th:href="@{|/user/${user.id}|}" class="btn btn-secondary mt-2">조회</a>

                </div>
            </td>
            <td>
                <form class="deleteUser">
                    <div class="text-center">
                        <input type="hidden" class="DeleteUserId" th:value="${user.id}"/>
                        <button type="submit" class="btn btn-secondary mt-2">삭제</button>
                    </div>
                </form>
            </td>
        </tbody>
    </table>
    </div>
</div>

<script th:inline="javascript">

    $(document).ready(function(){
        $(".authForm").submit(function(event) {
            event.preventDefault();

            const $form = $(this); // 현재의 form을 참조합니다.
            const userId = $form.find('.userId').val();  // 현재 폼의 내의 userId 값을 가져옵니다.
            const authValue = $form.find(".form-select").val();  // 현재 폼 내의 select 값을 가져옵니다.

            const data = {
                userId: userId,
                userRole: authValue
            };

            $.ajax({
                url: '/updateauthorization',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    // 필요한 경우, 로그인 페이지나 메인 페이지로 리다이렉트

                    alert("변경 성공")
                    location.reload();
                },
                error: function(error) {
                    alert("변경 실패: " + error.responseText);
                }
            });
        });

        $(".deleteUser").submit(function(event) {
            event.preventDefault();

            const $form = $(this); // 현재의 form을 참조합니다.
            const DeleteUserId = $form.find('.DeleteUserId').val();  // 현재 폼의 내의 userId 값을 가져옵니다.

            const data = {
                userId : DeleteUserId
            };

            console.log(data);

            $.ajax({
                url: '/AuthWithdraw',
                method: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    // 필요한 경우, 로그인 페이지나 메인 페이지로 리다이렉트
                    alert("회원 삭제 성공")
                    console.log(response)
                    location.reload();
                },
                error: function(error) {
                    alert("회원 탈퇴 실패: " + error.responseText);
                }
            });
        });
    });
</script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- Custom scripts for this template -->
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
</body>
</html>